.custom-loader {
    width: 100px;
    height: 100px;
    display: grid;
    border:8px solid #0000;
    border-radius: 50%;
    border-right-color:#766DF4;
    animation: s5 0.5s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {    
    content:"";
    grid-area: 1/1;
    margin:4px;
    border:inherit;
    border-radius: 50%;
    animation: s5 1s infinite;
  }
  .custom-loader::after {
    margin:16px;
    animation-duration: 3s;
  }
  
  @keyframes s5{ 
    100%{transform: rotate(1turn)}
  }